* 
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --var: color
}

body {
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 3.2vh;
}

header ul li a {
    text-decoration: none;
    padding: 0.4411764705882353vw 1.1029411764705883vw;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover, 
header ul li a.active {
    background-color: #fff;
    color: #2b1055;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 7.352941176470588vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before {
    content: " ";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 16vh;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
}



section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#moon {
    mix-blend-mode: screen;
}

section img#mountain_front {
z-index: 10;
}

#text {
    position: absolute;
    right: -25.735294117647058vw;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}

#btn {
    text-decoration:none;
    display: inline-block;
    padding: 0.5882352941176471vw 2.2058823529411766vw;
    border-radius: 2.9411764705882355vw;
    background-color: #fff;
    color: #2b1055;
    font-size: 1.6176470588235294vw;
    z-index: 9;
    transform: translateY(16vh);
}
.sec {
    position: relative;
    padding: 7.352941176470588vw;
    background: #1c0522;
}
.sec h2 {
    font-size: 3.5em;
    margin-bottom: 1.6vh;
    color: #fff;
}

.sec p {
    font-size: 1.3235294117647058vw;
    color: #fff;
}

.projetos {
    max-width: 100%;
    height: 130vh;

    background: linear-gradient(#1c0522, #5B246E, #BB66AD);
}

#projetos-texto-principal {
    font-size: 3em;
    color: #E6E0E6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Cardo";
}

.projetos li {
    
    list-style: none;
    text-decoration: none;
}

.projetos li a{
    text-decoration: none;

    
    color: #E6E0E6;
    font-size: 2.7941176470588234vw;
    font-family: "Cardo";
    font-weight: 300;    
}

#projetos-calendario-texto {
    position: absolute;
    left: 450px;
    top: 2280px;

}

#projetos-lista-texto {
    position: absolute;
    right: 30%;
    top: 382%; 
        
}



#projetos-google-texto {
    position: absolute;
    right: 63%;
    top: 400%; 
}



#projetos-spotify-texto{  
    position: absolute;   
    right: 53%;
    top: 424%; 
}


.projetos h5 {
    color: #fff;
    margin-left: 7.352941176470588vw;
    font-weight: 400;
    width: 70%;
    font-size: 2.56vh;
    margin-bottom: 8vh;
}


.corpo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
}





.bot {
    width: 29.41176470588235vw;
    height: 64vh;

    margin-top:  8vh;

     color: #1c0522;
     background-color: #1c0522;
}



.sobre {
    width: 100%;
    height: 96vh;
}

#detalhes-sobre {
    width: 79.41176470588235vw;
    height: 80vh;
    position: absolute;
    left: 14.705882352941176vw;
    top: 6.4vh;
}

.foto-perfil {
    width: 66.17647058823529vw;
    height: 80.96vh;
    position: absolute;
    top: 9.6vh;
    left: 38.60294117647059vw;
    
}

#sobre-texto {
    width: 47.794117647058826vw;
    font-size: 1.3235294117647058vw;
    
}

.campo-chat li {
    list-style: none;
    color: #fff;
    font-weight: bold;
    padding-bottom: 1.6vh;
    font-size: 2.88vh;
}

#campo-chat-ex {
    color: coral;
}

#campo-chat-nu {
    color: coral;
    margin-top: 8vh;
}


.entrevista {
    width: 50%;
    position: absolute;
    top: 108.8vh;
    left: 44.11764705882353vw;
}

#traco {
    width: 73.52941176470588vw;
    height: 16vh;
    
    
}

#projetos-img-fundo {
    position: absolute;
    top: 312vh;
    left: 13.970588235294118vw;
}





#calendar-text2 {
    position: absolute;
    top: 364.8vh;
    left: 43.38235294117647vw;
    font-family: "Cardo";
    font-weight: 300;
    font-size: 1.1764705882352942vw;
    width: 40%;
}
    




#lista-text2 {
    position: absolute;
    top: 384vh;
    left: 7.352941176470588vw;
    font-family: "Cardo";
    font-weight: 300;
    font-size: 1.1764705882352942vw;
    width: 35%;
}



#google-text2 {
    position: absolute;
        top: 400vh;
        left: 42.64705882352941vw;
        font-family: "Cardo";
        font-weight: 300;

}



#spotify-text2 {
    position: absolute;
    top: 425.6vh;
    left: 47.794117647058826vw;
    font-family: "Cardo";
    font-weight: 300;

}


.contato {
    width: 100%;
    height: 200%;
    background: linear-gradient(#1c0522, #5B246E, #BB66AD);
    
}



#icones {
    position: absolute;
    height: 320vh;
    top: 368vh;
    left: -25.735294117647058vw;
    
}



#icone-icone-insta {
    margin-left: 2.2058823529411766vw ;
}

#icone-likedin {
    margin-left: 2.2058823529411766vw ;
}

#icone-email {
    width: 8.088235294117647vw;
    margin-left: 2.2058823529411766vw;
   
}

#icone-git {
    width: 8.088235294117647vw; 
    margin-left: 2.2058823529411766vw ;
    
}

.todos-icones{
    display: flex; 
    margin-left: 29.41176470588235vw;
    padding-top: 130px;
    padding-bottom: 100px;

}

#img-fundo-contato {
    position: absolute;
    top: 1905px;
    left: 200px;
}

#obrigado-text {
    position: absolute;
    top: 2070px;
    font-size: 70px;
    font-family: "Cardo";
    color: #fff;
    left: 540px;
}

#e-mail-text {
    color: coral;
    padding-top: 150px;
}